body {
  background-color: rgb(73, 167, 146); font-style: unset;
}
h1 {
  color: blue;
}
p {
  color: #ececebf6;
}
title{
    color:aqua
}
p {
  border: 2px solid powderblue;
}
.page-box {
  gap: 20px;
  
  margin-right: 15px;
  width: 200px;
  max-width: 200px;
  margin: 12px 0; /* Removes auto horizontal margin */
  padding: 20px;
  background-color: lightblue;
  border: 2px solid #000;
  border-radius: 15px;
  text-align: center;
  
}    